body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

.subtitle {
  font-size: 14px;
  line-height: 1.43;
  color: #5b5b5b;
}

.card-footer-title {
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.card-footer-subtitle {
  font-size: 13px;
  line-height: 1.21;
  color: #5b5b5b;
}

a {
  text-decoration: none;
}
